.mar{
  margin-left: 10px;
  /* padding-left: 20px; */
}

.marup{
  margin-top: 0px;
  padding-top: 0;
}

.lang{
  display:flex;
  flex-direction:column;
  justify-content: center;
  /* align-items: center; */
}
.lang  input{
  margin-left: 1rem;
}