.mar{
  margin-left: 10px;
  /* padding-left: 20px; */
  /* cursor:pointer; */
}

.marup{
  margin-top: 0px;
  padding-top: 0;
}

.lang{
  display:flex;
  flex-direction:column;
  justify-content: center;
  /* align-items: center; */
}
.lang  input{
  margin-left: 1rem;
}
#test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hello-msg {
  /* border: 1px solid black; */
  /* margin-left: 35rem; */
}